

body {
margin-right:200px;
font-family:"century gothic";
background-color:#ffffe0;
background-size:15px;
background-image:url("/logo-transparent.png");
background-repeat:no-repeat;
background-position:top right;
}